@font-face {
  font-family: 'agraham';
  src: url('./assets/agraham/Agraham.otf') format('opentype');
  /* Brug format('woff') eller andre formater afhængigt af fonttypen */
}

@font-face {
  font-family: 'antic-didone';
  src: url('./assets/antic-didone/AnticDidone-Regular.ttf') format('opentype');
  /* Brug format('woff') eller andre formater afhængigt af fonttypen */
}
@font-face {
  font-family: 'anaheim';
  src: url('./assets/Anaheim/Anaheim-VariableFont_wght.ttf') format('opentype');
  /* Brug format('woff') eller andre formater afhængigt af fonttypen */
}


*{
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

body{
  padding-top: 100px;
}
.mobil{
  display: none;
}

h1{
  font-family: 'agraham';
  font-size: 5vw;
  font-weight: lighter;
  line-height: 2;
}
p{
  font-family: 'antic-didone';
    font-size: 1.2vw;
}
.flex{
  display: flex;
}
/*------Navigation--------------*/
.navigation{
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0; 
  display: flex;
  justify-content: space-between;

  padding-top: 5px;
}
#burger-menu{
  display: none;
}

.navlink{
  font-family: 'anaheim';
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 18px;
  padding-left: 5vw;
  padding-top: 20px;
}
.navlink:hover{
  color: #DF601C;
  transition: 0.3s;
}

#menu{
  width: fit-content;
  margin-right: 5vw;
}
#xul{
  display: flex;
  width: 100vw;   
}
#about{
  width: 50%;

}
#logo{
  width: 60px;
  margin-left: -6vw;
  margin-top: -20px;
}
#logo:hover{
  width: 62px;
  transition: 0.3s ease-in-out;
}

/*FORSIDE--------------------*/
#forsideTop{
  background-image: url('assets/confetti2.png');
  background-size: 110vw;
  background-position-x: -10vw;
  height: fit-content;
}
#forsideTop h1{
  font-size: 6vw;
}
#forsideTop p{
  margin-left: 53vw;
  margin-top: 10vh;
  width: 40vw;
}
.forside-top {
  position: relative;
  width: 38vw;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 13vw;
  margin-right: 6vw;
  margin-top: -7vh;
}

.forside-karrusel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-image.active {
  opacity: 1;
}
.forside-baggrund{
  width: 100vw;
  height: 100vh;
  margin-top: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kasseLink{
  font-family: 'anaheim';
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 2.5vw;
  background-color: white;
  padding: 2.5vh 9vw;
  border: 0.5px solid black;
  opacity: 80%;
  display: flex;
  flex-direction: column;
}
.kasseLink img{
  width: 6vw;
  height: 2vh;
}
.kasseLink:hover{
  color: #FF8EC5;
  background-color: aliceblue;
  transition: ease-in-out;
}
.LinkUKasse{
  font-family: 'anaheim';
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 2.5vw;
  display: flex;
  flex-direction: column;
  margin-top: 18vh;
}
.LinkUKasse:hover{
  color: #FF8EC5;
  transition: ease-in-out;
}
.LinkUKasse img{
  width: 6vw;
  height: 2vh;
  margin-left: 2vw;
}
.teaser-container{
  width: 100vw;
  height: fit-content;
  display: flex;
  margin-top: 10vh;
  padding-left: 15vw;
  margin-bottom: 20vh;
}
.teaser-image{
  width: 17vw;
  height: auto;
  margin-right: 3vw;
}

.toKolonner{
  width: 100vw;
  display: flex;
  margin-bottom: 15vh;
}
.halvSkærm{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#KCforside{
  width: 50%;
  margin-left: 10vw;
}
#aogs{
  width: 80%;
}

@media only screen and (max-width: 1100px){
  .mobil{
      display: block;
  }
  .laptop{
      display: none;
  }
  p{
    font-size: 2.5vw;
  }
/*-------------burger---------------*/
.navlink{
  font-size: 4.5vw;
  display: flex;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin-left: 0vw;
}
.navigation{
  padding-left: 0vw;
  height: 90px;

}
#logo{
margin-left: 0vw;
width: 120px;
height: fit-content;
margin-top: -1vh;
z-index: 3;
}
#burger-menu{
    display: block;
    margin-left: 5vw;
    z-index: 2;
}
#burger-menu span{
    margin-top: 30px;
    margin-right: 30px;
}
#burger-menu span,
#burger-menu span::before,
#burger-menu span::after {
    background: black;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
        content: "";
}
#burger-menu span:before {
    left: 0px;
    top: -15px;
    width: 45px;
}
#burger-menu span {
    right: 0px;
    top: 13px;
    width: 45px;
}
#burger-menu span:after {
    left: 0px;
    top: 15px;
    width: 45px;
}
#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 45px;
}
#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 45px;
}
#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

#menu {
    z-index: 1;
    min-width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
#menu.overlay {
    visibility: visible;
    opacity: 100%;
    background-image: url('./assets/confetti.jpg');
    background-size: cover;
}
#xul {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 70vh;
    text-align: left;
    align-items: center;
    justify-content: unset;
    width: fit-content;
    margin: auto;
    margin-top: 20vh;
}
.no-scroll {
  overflow: hidden;
  height: 100vh; /* Lås højde til viewport */
}

/*Forside---------*/
#forsideTop{
  padding-top: 20vh;

  height: fit-content;
}
.forside-top{
  width: 53vw;
  margin-left: 5vw;
}
#forsideTop h1{
  font-size: 8vw;
}
#forsideTop p{
  margin-top: -10vh;
  margin-bottom: 10vh;
  margin-left: 15vw;
  width: 80vw;
}
.forside-baggrund{
  margin-top: 0vh;
  height: 50vh;
}
.teaser-container{
  padding-left: 5vw;
  margin-top: 8vh;
}
.teaser-image{
  width: 28vw;
}
.LinkUKasse{
  margin-top: 8vh;
}
#aogs{
  margin-left: -10vw;
}

}

@media only screen and (max-width: 800px){

  .mobil{
      display: block;
  }
  .laptop{
      display: none;
  }
  p{
    font-size: 3.7vw;
  }

  /*-------------burger---------------*/
  .navlink{
    font-size: 7vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
  }
  .navigation{
    height: 60px;
  }
  #burger-menu span{
      margin-top: 20px;
      margin-right: 30px;
  }
  #burger-menu span:before {
      top: -10px;
      width: 27px;
  }
  #burger-menu span {
      top: 8px;
      width: 27px;
  }
  #burger-menu span:after {
      top: 10px;
      width: 27px;
  }
  #burger-menu.close span:before {
      width: 27px;
  }
  #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
  }
  #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
  }
  #logo{
    width: 15vw;
    height: fit-content;
  }

  #menu.overlay {
      margin-top: 52px;
  }
  #xul {
      margin-top: 30px;
  }
  /*Forside.------------*/
  .flex{
    flex-direction: column;
  }
  #forsideTop{
    padding-top: 3vh;
  }
  .forside-top{
    height: 64vh;
    width: 90vw;
    margin-left: 0vw;
  }
  #forsideTop h1{
    margin-left: 4vw;
    font-size: 12vw;
    margin-top: -15vh;
    z-index: 1;
  }
  #forsideTop p{
    margin-left: 7vw;
    margin-top: 7vh;

  }
  .forside-baggrund{
    background-position-x: -20vw;
    margin-top: 15vh;
  }
  .kasseLink{
    font-size: 5vw;
    padding: 2.5vh 22vw;
  }
  .teaser-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 15vw;
}

.teaser-image {
    width: 70vw;
}
.teaser-indicators {
  display: flex;
  justify-content: center;
  margin-top: 2vh;

  padding-right: 15vw;
}

.indicator {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #fcdbeb;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.indicator.active {
  background-color: #f9479d;
}
.toKolonner{
  flex-direction: column;
}
.LinkUKasse{
  margin-top: 0vh;
  font-size: 5vw;
  padding-right: 10vw;
}
.halvSkærm{
  flex-direction: row-reverse;
  width: 100vw;
  margin-bottom: 10vh;
}
}
